body{
    background-image: url('./images/sky.jpg');
    background-size: cover;
  }

  .photo {
    width: 300px;
    height: 400px;
    float: right;


}




.head{
    margin-left: 800px;
    font-family: "Arial, Helvetica, sans-serif"
  
  
  }

  .skills{
    margin-right: 50%
  }

.intro{
    color:orange;
	font-size: 140%;
	font-family: "Arial, Helvetica, sans-serif";
 
  }


.experience{

    font-family: "Arial, Helvetica, sans-serif";
 
 margin-right: 10%
      
}